@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<section class="page-header page-header-classic">
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">FAQ</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col p-static">
                <h1 data-title-border>FAQ</h1>
            </div>
        </div>
    </div>
</section>

<div class="container py-4">

    <div class="row">
        <div class="col">

            <h2 class="font-weight-normal text-7 mb-2">Frequently Asked <strong class="font-weight-extra-bold">Questions</strong></h2>
            <hr class="solid my-5">

            <div class="toggle toggle-primary" data-plugin-toggle>
                <section class="toggle active">
                    <label>Are we moving furnitures?</label>
                    <p>Yes,but we charge extra 20% ,so  we suggest you to clear the area  what you would like to cleaned with us.We only move furnitures with your permission.</p>
                </section>

                <section class="toggle">
                    <label>Can we rid off all the stains and spots?</label>
                    <p>We use the best quality of eco friendly products and sanitizing methods, but some of the stains not able to get off without damaging the materials. We aiming the best results is possible.</p>
                </section>

                <section class="toggle">
                    <label>What methods of payment do you take?</label>
                    <p>We accept credit and debit card payments. Our team is always equipped with Chip & PIN card machines, making the payment easier for you. If you have any other enquiries regarding  methods of payment please contact us.</p>
                </section>

                <section class="toggle">
                    <label>How long will my carpets take to dry?</label>
                    <p>Usually it takes about 2 hours but, it depends on numerous factors including how soiled your carpet was and weather conditions.If we doing deep cleaning ,that’s takes more time to dry but we could speed up the the drying process with our carpet dryer machine</p>
                </section>

                <section class="toggle">
                    <label>CChildren or pets will be affected by the cleaning?</label>
                    <p>The products we use are environmentally friendly, so they are not harmful to children and pets. However we kindly ask you to leave the rooms/areas unoccupied, during the period of working.</p>
                </section>

                <section class="toggle">
                    <label>How can Ozone help?</label>
                    <p>Using ozone in your home, office or any other environment can stop bacteria from infecting food and surfaces and thus entering the human body. For instance, ozone kills Staphylococcus Aureus, Listeria, Salmonella and Legionella. In places such as kitchens and food preparation areas where bacteria thrive, ozone will kill all of these bacteria, leaving your environment totally sanitised.</p>
                </section>

                <section class="toggle">
                    <label>Curabitur eget leo at velit imperdiet vague iaculis vitaes?</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eget leo at velit imperdiet varius. In eu ipsum vitae velit congue iaculis vitae at risus. Nullam tortor nunc, bibendum vitae semper a, volutpat eget massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla, orci sit amet posuere auctor, orci eros pellentesque odio, nec pellentesque erat ligula nec massa. Aenean consequat lorem ut felis ullamcorper posuere gravida tellus faucibus. Maecenas dolor elit, pulvinar eu vehicula eu, consequat et lacus. Duis et purus ipsum. In auctor mattis ipsum id molestie. Donec risus nulla, fringilla a rhoncus vitae, semper a massa. Vivamus ullamcorper, enim sit amet consequat laoreet, tortor tortor dictum urna, ut egestas urna ipsum nec libero. Nulla justo leo, molestie vel tempor nec, egestas at massa. Aenean pulvinar, felis porttitor iaculis pulvinar, odio orci sodales odio, ac pulvinar felis quam sit.</p>
                </section>

                <section class="toggle">
                    <label>What is ozone?</label>
                    <p>Ozone (O³) is a gas composed of 3 oxygen atoms combined in a ring and takes the form of a blue coloured gas, which has a distinct odour, and is about one and a half times heavier than air. Ozone molecules wipe out unwanted odours and render the air clean and fresh before reverting back to oxygen. </p>
                </section>

                <section class="toggle">
                    <label>What are the benefits of ozone?</label>
                    <p>
                        •	Permanently removes the smell of cooking, unpleasant odours from childrens trainers, smells from cats and dogs, cigarette smells from curtains, upholstery and from a room filled with smoke, paint smells after decorating and any other kind of odour you can think of. <br />
                        •	Destroys the spores that cause mold. <br />
                        •	Stops bacteria from infecting food. <br />
                        •	Kills Staphylococcus Aureus, Listeria, Salmonella and Legionella. <br />
                        •	Kills bacteria, viruses, mould, fungus, allergens and insect infestations <br />
                        •	Sanitises naturally without the use of chemicals or any residual <br />

                    </p>
                </section>
            </div>

        </div>

    </div>

</div>

			</div>